@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

/* Light Theme Variables */
:root {
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #3b82f6;       /* Tailwind blue-500 */
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;     /* gray-100 */
  --secondary-foreground: #3b82f6;
  --muted: #f3f4f6;
  --muted-foreground: #8b8b8b;
  --accent: #f3f4f6;
  --accent-foreground: #3b82f6;
  --destructive: #dc2626;    /* red-600 */
  --destructive-foreground: #ffffff;
  --border: #ebebeb;         /* gray-200 */
  --input: #ebebeb;
  --ring: #b3b3b3;           /* gray-400 */
  --chart-1: #eab308;        /* yellow-500 */
  --chart-2: #3b82f6;        /* blue-500 */
  --chart-3: #6366f1;        /* indigo-500 */
  --chart-4: #10b981;        /* green-500 */
  --chart-5: #f97316;        /* orange-500 */
  --radius: 0.625rem;
  --sidebar: #ffffff;
  --sidebar-foreground: #252525;
  --sidebar-primary: #3b82f6;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f3f4f6;
  --sidebar-accent-foreground: #3b82f6;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b3b3b3;
}

/* Dark Theme Variables */
.dark {
  --background: #252525;
  --foreground: #ffffff;
  --card: #252525;
  --card-foreground: #ffffff;
  --popover: #252525;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #3b82f6;
  --secondary: #434343;
  --secondary-foreground: #ffffff;
  --muted: #434343;
  --muted-foreground: #b3b3b3;
  --accent: #434343;
  --accent-foreground: #ffffff;
  --destructive: #dc2626;
  --destructive-foreground: #ffffff;
  --border: #434343;
  --input: #434343;
  --ring: #707070;
  --chart-1: #6366f1;
  --chart-2: #10b981;
  --chart-3: #f97316;
  --chart-4: #8b5cf6;
  --chart-5: #facc15;
  --sidebar: #3b82f6;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #6366f1;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #434343;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #434343;
  --sidebar-ring: #707070;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
